{{#if addNewPost}}
  <h1>New Post</h1>
    <form>
      <div class="form-group">
        <label for="author">Your Name</label>
        {{input value=author id="author"}}
      </div>

      <div class="form-group">
        <label for="title">Title</label>
        {{input value=title id="title"}}
      </div>

      <div class="form-group">
        <label for="price">Price</label>
        {{input value=price id="price"}}
      </div>
      <div class="form-group">
        <label for="image">Image URL</label>
        {{input value=image id="image"}}
      </div>
      <div class="form-group">
        <label for="contact">Contact (phone or email)</label>
        {{input value=contact id="contact"}}
      </div>

      <div class="form-group">
        <label for="body">Description</label>
        {{textarea rows="5" value=body id="body"}}
      </div>

      <button {{action 'save' post}}>Save</button>
    </form>

{{else}}
  <button {{action 'postFormShow'}}>New Post</button>
{{/if}}
